.cm-creases-icon {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.2s ease-in;
  vertical-align: middle;
  line-height: 1;
  display: inline-flex;
  align-items: center;
}

.cm-creases-icon:hover {
  opacity: 0.8;
}

.tree-item-inner p {
  margin: 0;
}
